<ion-split-pane>

    <ion-menu side="left" [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Crypto Coins</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
            <ion-list>
                <button menuClose="left" ion-item *ngFor="let coin of displayedCryptoCurrencies" (click)="changeCoin(coin)">
                    {{ coin.name }}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

    <ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>
                AltTrack
            </ion-title>
            <ion-buttons end>
                <button ion-button icon-only class="bigger-button" (click)="openSettings($event)">
                    <ion-icon name="cog"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>

    <ion-content padding>
        <div class="dash-content">
            <div *ngIf="currentCrypto">
                <!-- If baseCurrency is BTC -->
                <div *ngIf="global.state['baseCurrency'] === 'BTC'">
                    <div *ngIf="currentCrypto && latestPrice < 1000">
                        1 {{ currentCrypto.code }} = {{ global.state['baseCurrency'] }} {{ latestPrice | number:'1.2-6' }}
                    </div>
                    <div *ngIf="currentCrypto && latestPrice >= 1000">
                        1 {{ currentCrypto.code }} = {{ global.state['baseCurrency'] }} {{ latestPrice | number:'1.2' }}
                    </div>
                </div>
                <!-- If baseCurrency is FIAT -->
                <div *ngIf="!(global.state['baseCurrency'] === 'BTC')">
                    <div *ngIf="currentCrypto && latestPrice < 1000">
                        1 {{ currentCrypto.code }} = {{ latestPrice | currency:'USD':symbol:'1.2-6' }}
                    </div>
                    <div *ngIf="currentCrypto && latestPrice >= 1000">
                        1 {{ currentCrypto.code }} = {{ latestPrice | currency:'USD':symbol:'1.2' }}
                    </div>
                </div>
            </div>

            <div *ngIf="!currentCrypto">
                Welcome to AltTrack
                <p>
                    Please select a crypto currency
                </p>
            </div>
        </div>

        <div *ngIf="currentCrypto" class="portfolio-content">
            <ion-item>
                <ion-label color="primary" stacked>Coins Owned ({{ currentCrypto.code }})</ion-label>
                <ion-input (focusout)="updatePortfolio()" [(ngModel)]="portfolioCoinsOwned" type="number" step="0.00000001" placeholder="The number of coins owned"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Amount Invested ({{ global.state['baseCurrency'] }})</ion-label>
                <ion-input (focusout)="updatePortfolio()" [(ngModel)]="portfolioAmountInvested" type="number" step="0.01" placeholder="The total amount of {{global.state['baseCurrency']}} invested"></ion-input>
            </ion-item>
            <p>
                Break Even Point ({{ global.state['baseCurrency'] }}): {{ breakEvenPoint() | currency:'USD':symbol:'1.2' }}
            </p>
            <p>
                Current Wallet Value ({{ global.state['baseCurrency'] }}): {{ walletValue() | currency:'USD':symbol:'1.2' }}
            </p>
            <p>
                Profit ({{ global.state['baseCurrency'] }}): {{ profit() | currency:'USD':symbol:'1.2' }}
            </p>
        </div>

    </ion-content>

</ion-split-pane>
