page-home {
    .dash-content {
        font-size: xx-large;
        text-align: center;
        p {
            font-size: large;
        }
    }

    .portfolio-content {
        margin-top: 15%;
        p {
            margin-left: 15px;
            font-size: medium;
        }
    }
}
