<!--
Generated template for the SettingsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Settings</ion-title>
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
                Done
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding class="padded">
    <ion-list>
        <ion-item>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle [(ngModel)]="darkThemeSelected" (ionChange)="changeTheme()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Base Currency</ion-label>
            <ion-select [(ngModel)]="baseSelected" interface="action-sheet" placeholder="Please Select">
                <ion-option *ngFor="let base of baseCurrencies" [value]="base" (ionSelect)="changeBase(base)">{{ base }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>

        </ion-item>
    </ion-list>

    <div *ngIf="portfolios">
        <h5>My Portfolio</h5>
        <ion-list *ngIf="portfolios.length > 0">
            <ion-item *ngFor="let portfolio of portfolios; let i = index">
                <p>
                    {{ portfolio.code }}
                </p>
                <button ion-button item-end (click)="clearPortfolio(i)" color="danger">Clear</button>
            </ion-item>
        </ion-list>
        <p *ngIf="portfolios.length == 0">
            Your portfolio is currently empty
        </p>
    </div>
</ion-content>
