.dark-theme {
    ion-content {
        background-color: #1b1b1d;
        color: #fff;
        ion-list {
            .coin {
                color: #fff;
                background-color: #1b1b1d;
            }

        }
        ion-item {
            color: #fff;
            background-color: #1b1b1d;
        }
        ion-select {
            color: #fff;
            background-color: #1b1b1d;
        }
        ion-searchbar {
            .searchbar-input {
                background: #2B2B2F;
                color: white;
            }
            button {
                background: #2B2B2F;
            }
            .searchbar-search-icon {
                filter: brightness(4);
            }
        }
        ion-toggle {
            button {
                color: #fff;
                background-color: transparent;
            }
        }
    }

    .toolbar-title {
        color: #fff;
    }

    .header .toolbar-background {
        border-color: #ff0fff;
        background-color: #1b072b;
    }
}
